{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
    <link rel="stylesheet" href="{{asset('styles/contact.css')}}">
{% endblock %}
{% block body %}
<h1> Ceci est la page contact</h1>
    <div>

        <div class="contact-container">

            {% if form is defined %}
                <h2>Ajouter un nouveau contact</h2>

                {{ form(form) }}
            {% endif %}
        </div>
    </div>
    {{ encore_entry_link_tags('contact') }}
{% endblock %}